@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Parkinsans:wght@400&family=Poppins&display=swap');


html, body, p, [class*="css"] {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        color: #1D1F26;
}

p {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        color: #1D1F26;
        font-size: min(2vw, 2vh);
}

h1, h2, h3, h4, h5, h6, [class*="css"] {
        font-family: 'Parkinsans', Arial, Helvetica, sans-serif;
        color: #1D1F26;
        font-size: min(6vw, 6vh);
        font-weight: bold;
}

[data-baseweb="button-group"] {
        display: flex;
        align-self:flex-end;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        justify-items: center;
        column-gap: min(2vh, 1vw);
        margin: 0;
}

[data-testid="stBaseButton-pills"] {
        transition: transform 0.3s, background-color 0.3s;
        padding-left: min(5vh, 5vw);
        padding-right: min(5vh, 5vw);
}

[data-testid="stBaseButton-pills"]:hover {
        flex : 1;
        background-color: #f25270;
        box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0,0,0,0.2);
        transform: scale(1.2);
}

[data-testid="stBaseButton-pills"]:active {
        transform: scale(0.9);
}

[data-testid="stBaseButton-pillsActive"] {
        background-color: #f25270;
        padding-left: min(5vh, 5vw);
        padding-right: min(5vh, 5vw);
}

[data-testid="stBaseButton-primary"] {
        border-radius: 20px;
        transition: transform 0.3s, background-color 0.3s;
        font-weight: bold;
}

[data-testid="stBaseButton-primary"]:hover {
        flex : 1;
        background-color: #f25270;
        box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0,0,0,0.2);
        transform: scale(1.1);
}

[data-testid="stBaseButton-primary"]:active {
        transform: scale(0.9);
}
